DB_PASSWORD="1111"
DB_NAME="crm"
EMAIL = "muhammadalishuhratjonov50@gmail.com"
EMAIL_PASS_KEY = "hsiq rmom acdy dpuq"
PORT = 4001
FIGMA=https://www.figma.com/design/3C658akYDkxxGut0zaSbmj/CRM-Panel?node-id=247-468&t=ysKJBmieCUgY06Ue-0